body {
    background: url(../images/crystal_background.jpg)  no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover
    
}

.jumbotron {
    background-size:cover;
    background-color: rgba(100,100,100, 0.5);
  color: inherit;
}

.card {
    background-size:cover;
    background-color: rgba(100,100,100, 0.5);
  color: inherit;
}

.tittle-game{
    text-shadow: 0px 3px 0px #c4960f,
    0px 14px 10px rgba(0,0,0,0.15),
    0px 24px 2px rgba(0,0,0,0.1),
    0px 34px 30px rgba(0,0,0,0.1);
}

.target-score, .player-score, p, h4, h5, h1{
    font-weight: bold;
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear;
}


@-webkit-keyframes hue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }

    to {
      -webkit-filter: hue-rotate(360deg);
    }
}

.image-fluid {
    max-width: 100%;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}